<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjing.wallet.dao.InvestMapper">
  <resultMap id="BaseResultMap" type="com.lanjing.wallet.model.Invest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="airdrop_id" jdbcType="INTEGER" property="airdropId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="periods_num" jdbcType="INTEGER" property="periodsNum" />
    <result column="code" jdbcType="BIGINT" property="code" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="principal" jdbcType="DOUBLE" property="principal" />
    <result column="income" jdbcType="DOUBLE" property="income" />
    <result column="principal_balance" jdbcType="DOUBLE" property="principalBalance" />
    <result column="income_balance" jdbcType="DOUBLE" property="incomeBalance" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="fee" jdbcType="INTEGER" property="fee" />
    <result column="daily_release" jdbcType="DOUBLE" property="dailyRelease" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseResultMapInvestReward" type="com.lanjing.wallet.model.po.InvestReward">
    <result column="principal" jdbcType="DOUBLE" property="principal" />
    <result column="income" jdbcType="DOUBLE" property="income" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="BaseResultMapEx" type="com.lanjing.wallet.model.po.IncomeInterest" extends="com.lanjing.wallet.dao.InvestMapper.BaseResultMap">
    <result column="multiple" jdbcType="DOUBLE" property="multiple" />
  </resultMap>
  <resultMap id="BaseResultMapInvestCheck" type="com.lanjing.wallet.model.po.InvestCheck" extends="com.lanjing.wallet.dao.InvestMapper.BaseResultMap">
    <result column="phoneNum" jdbcType="DOUBLE" property="phone" />
  </resultMap>
  <resultMap id="BaseResultMapFinancialRecord" type="com.lanjing.wallet.model.po.FinancialRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="periods_num" jdbcType="INTEGER" property="periodsNum" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="user_id" jdbcType="DOUBLE" property="userId" />
    <result column="daily_release" jdbcType="DOUBLE" property="dailyRelease" />
    <result column="principal" jdbcType="VARCHAR" property="principal" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, airdrop_id, title, periods_num, code, status, principal, income, principal_balance, 
    income_balance, total, fee, daily_release, end_time, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lanjing.wallet.model.InvestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from invest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectIncomeInterest"  resultMap="BaseResultMapEx">
    select i.*,a.multiple from invest i left join airdrop a on i.airdrop_id = a.id where i.status =1
  </select>
  <select id="getInvestCheck"  resultMap="BaseResultMapInvestCheck">
    select i.id,i.title,i.principal,i.income,i.total,i.periods_num,i.status,i.create_time,i.daily_release,u.phoneNum  from  invest i left join users u on i.user_id=u.fId
    where 1=1
    <if test="phone != null and phone != '' ">
      and u.phoneNum=#{phone,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and i.status=#{status,jdbcType=INTEGER}
    </if>
    and i.status between 2 and 4
  </select>
  <select id="getInvest"  resultMap="BaseResultMapInvestCheck">
    select i.id,i.title,i.principal,i.income,i.total,i.periods_num,i.status,i.create_time,i.daily_release,u.phoneNum  from  invest i left join users u on i.user_id=u.fId
    <if test="phone != null and phone != '' ">
      where u.phoneNum=#{phone,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="sumPrincipal" resultType="java.math.BigDecimal">
    select ifnull(sum(principal),0)  from invest
  </select>
  <select id="sumRevenue" resultType="java.math.BigDecimal">
    select ifnull(sum(income_balance),0)  from invest
  </select>
  <select id="sumTotalRelease" resultType="java.math.BigDecimal">
    select ifnull(sum(total),0)  from invest
  </select>
  <select id="sumTodayPrincipal" resultType="java.math.BigDecimal">
    select ifnull(sum(principal),0)  from invest where create_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
  </select>
  <select id="sumPrincipalByUserID" resultType="java.lang.Double">
    select ifnull(sum(principal),0)  from invest where user_id= #{user,jdbcType=TIMESTAMP}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMapInvestReward">
    select principal,income,create_time
    from invest
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from invest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lanjing.wallet.model.InvestExample">
    delete from invest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lanjing.wallet.model.Invest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invest (user_id, airdrop_id, title, 
      periods_num, code, status, 
      principal, income, principal_balance, 
      income_balance, total, fee, 
      daily_release, end_time, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{airdropId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{periodsNum,jdbcType=INTEGER}, #{code,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{principal,jdbcType=DOUBLE}, #{income,jdbcType=DOUBLE}, #{principalBalance,jdbcType=DOUBLE}, 
      #{incomeBalance,jdbcType=DOUBLE}, #{total,jdbcType=DOUBLE}, #{fee,jdbcType=DOUBLE}, 
      #{dailyRelease,jdbcType=DOUBLE}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lanjing.wallet.model.Invest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="airdropId != null">
        airdrop_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="periodsNum != null">
        periods_num,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="principal != null">
        principal,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="principalBalance != null">
        principal_balance,
      </if>
      <if test="incomeBalance != null">
        income_balance,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="dailyRelease != null">
        daily_release,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="airdropId != null">
        #{airdropId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="periodsNum != null">
        #{periodsNum,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=DOUBLE},
      </if>
      <if test="income != null">
        #{income,jdbcType=DOUBLE},
      </if>
      <if test="principalBalance != null">
        #{principalBalance,jdbcType=DOUBLE},
      </if>
      <if test="incomeBalance != null">
        #{incomeBalance,jdbcType=DOUBLE},
      </if>
      <if test="total != null">
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="dailyRelease != null">
        #{dailyRelease,jdbcType=DOUBLE},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanjing.wallet.model.InvestExample" resultType="java.lang.Long">
    select count(*) from invest
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update invest
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.airdropId != null">
        airdrop_id = #{record.airdropId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.periodsNum != null">
        periods_num = #{record.periodsNum,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.principal != null">
        principal = #{record.principal,jdbcType=DOUBLE},
      </if>
      <if test="record.income != null">
        income = #{record.income,jdbcType=DOUBLE},
      </if>
      <if test="record.principalBalance != null">
        principal_balance = #{record.principalBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.incomeBalance != null">
        income_balance = #{record.incomeBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.fee != null">
        fee = #{record.fee,jdbcType=DOUBLE},
      </if>
      <if test="record.dailyRelease != null">
        daily_release = #{record.dailyRelease,jdbcType=DOUBLE},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update invest
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      airdrop_id = #{record.airdropId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      periods_num = #{record.periodsNum,jdbcType=INTEGER},
      code = #{record.code,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      principal = #{record.principal,jdbcType=DOUBLE},
      income = #{record.income,jdbcType=DOUBLE},
      principal_balance = #{record.principalBalance,jdbcType=DOUBLE},
      income_balance = #{record.incomeBalance,jdbcType=DOUBLE},
      total = #{record.total,jdbcType=DOUBLE},
      fee = #{record.fee,jdbcType=DOUBLE},
      daily_release = #{record.dailyRelease,jdbcType=DOUBLE},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanjing.wallet.model.Invest">
    update invest
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="airdropId != null">
        airdrop_id = #{airdropId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="periodsNum != null">
        periods_num = #{periodsNum,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="principal != null">
        principal = #{principal,jdbcType=DOUBLE},
      </if>
      <if test="income != null">
        income = #{income,jdbcType=DOUBLE},
      </if>
      <if test="principalBalance != null">
        principal_balance = #{principalBalance,jdbcType=DOUBLE},
      </if>
      <if test="incomeBalance != null">
        income_balance = #{incomeBalance,jdbcType=DOUBLE},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="dailyRelease != null">
        daily_release = #{dailyRelease,jdbcType=DOUBLE},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanjing.wallet.model.Invest">
    update invest
    set user_id = #{userId,jdbcType=INTEGER},
      airdrop_id = #{airdropId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      periods_num = #{periodsNum,jdbcType=INTEGER},
      code = #{code,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      principal = #{principal,jdbcType=DOUBLE},
      income = #{income,jdbcType=DOUBLE},
      principal_balance = #{principalBalance,jdbcType=DOUBLE},
      income_balance = #{incomeBalance,jdbcType=DOUBLE},
      total = #{total,jdbcType=DOUBLE},
      fee = #{fee,jdbcType=DOUBLE},
      daily_release = #{dailyRelease,jdbcType=DOUBLE},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByKeyAndStatus" resultMap="BaseResultMapFinancialRecord">
    select i.id,
    i.user_id,
    i.principal,
    i.periods_num,
    i.title,
    i.daily_release,
    i.create_time,
    u.phoneNum phone
    from invest i
    left join users u on i.user_id = u.fId where 1=1
    <if test="status != null">
      and i.periods_num=#{status,jdbcType=INTEGER}
    </if>
    <if test="key != null and key != ''">
      and i.user_id=#{key,jdbcType=VARCHAR} or u.userName like concat("%",#{key,jdbcType=VARCHAR},"%")
    </if>
    order by i.id desc
  </select>
</mapper>