<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjing.wallet.dao.TradeAirdropMapper">
  <resultMap id="BaseResultMap" type="com.lanjing.wallet.model.TradeAirdrop">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="code" jdbcType="BIGINT" property="code" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="cycle" jdbcType="INTEGER" property="cycle" />
    <result column="periods_num" jdbcType="INTEGER" property="periodsNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="coin_transaction" jdbcType="DOUBLE" property="coinTransaction" />
    <result column="transaction" jdbcType="DOUBLE" property="transaction" />
    <result column="lock_balance" jdbcType="DOUBLE" property="lockBalance" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="daily_release" jdbcType="DOUBLE" property="dailyRelease" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, order_id, code, title, type, cycle, coin_transaction,periods_num, status, amount, transaction,
    lock_balance, total, daily_release, end_time, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lanjing.wallet.model.TradeAirdropExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_airdrop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByUserKey" parameterType="com.lanjing.wallet.model.TradeAirdropExample" resultMap="BaseResultMap">
    select * from trade_airdrop where status!=3 and user_id =#{userKey,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="selectAll" parameterType="com.lanjing.wallet.model.TradeAirdropExample" resultMap="BaseResultMap">
    select * from trade_airdrop where status = 1
  </select>
  <select id="sumActivation" resultType="java.lang.Double">
    select ifnull(sum(amount),0) from trade_airdrop where type=2 and user_id=#{userKey,jdbcType=VARCHAR}
  </select>
  <select id="sumFreed" resultType="java.lang.Double">
    select ifnull(sum(total),0) from trade_airdrop where user_id=#{userKey,jdbcType=VARCHAR}
  </select>
  <select id="sumConsume" resultType="java.lang.Double">
    select ifnull(sum(coin_transaction),0) from trade_airdrop where user_id=#{userKey,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_airdrop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_airdrop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lanjing.wallet.model.TradeAirdropExample">
    delete from trade_airdrop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lanjing.wallet.model.TradeAirdrop">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trade_airdrop (user_id, order_id, code, 
      title, type, cycle, 
      periods_num, status, amount, 
      transaction, lock_balance, total, 
      daily_release, end_time, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{code,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{cycle,jdbcType=INTEGER}, 
      #{periodsNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}, 
      #{transaction,jdbcType=DOUBLE}, #{lockBalance,jdbcType=DOUBLE}, #{total,jdbcType=DOUBLE}, 
      #{dailyRelease,jdbcType=DOUBLE}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lanjing.wallet.model.TradeAirdrop">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trade_airdrop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="periodsNum != null">
        periods_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="transaction != null">
        transaction,
      </if>
      <if test="lockBalance != null">
        lock_balance,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="dailyRelease != null">
        daily_release,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="coinTransaction != null">
        coin_transaction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="periodsNum != null">
        #{periodsNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="transaction != null">
        #{transaction,jdbcType=DOUBLE},
      </if>
      <if test="lockBalance != null">
        #{lockBalance,jdbcType=DOUBLE},
      </if>
      <if test="total != null">
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="dailyRelease != null">
        #{dailyRelease,jdbcType=DOUBLE},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coinTransaction != null">
        #{coinTransaction,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lanjing.wallet.model.TradeAirdropExample" resultType="java.lang.Long">
    select count(*) from trade_airdrop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_airdrop
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.cycle != null">
        cycle = #{record.cycle,jdbcType=INTEGER},
      </if>
      <if test="record.periodsNum != null">
        periods_num = #{record.periodsNum,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.transaction != null">
        transaction = #{record.transaction,jdbcType=DOUBLE},
      </if>
      <if test="record.lockBalance != null">
        lock_balance = #{record.lockBalance,jdbcType=DOUBLE},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.dailyRelease != null">
        daily_release = #{record.dailyRelease,jdbcType=DOUBLE},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_airdrop
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      code = #{record.code,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      cycle = #{record.cycle,jdbcType=INTEGER},
      periods_num = #{record.periodsNum,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=DOUBLE},
      transaction = #{record.transaction,jdbcType=DOUBLE},
      lock_balance = #{record.lockBalance,jdbcType=DOUBLE},
      total = #{record.total,jdbcType=DOUBLE},
      daily_release = #{record.dailyRelease,jdbcType=DOUBLE},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanjing.wallet.model.TradeAirdrop">
    update trade_airdrop
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="periodsNum != null">
        periods_num = #{periodsNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="transaction != null">
        transaction = #{transaction,jdbcType=DOUBLE},
      </if>
      <if test="lockBalance != null">
        lock_balance = #{lockBalance,jdbcType=DOUBLE},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="dailyRelease != null">
        daily_release = #{dailyRelease,jdbcType=DOUBLE},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanjing.wallet.model.TradeAirdrop">
    update trade_airdrop
    set user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      code = #{code,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=INTEGER},
      periods_num = #{periodsNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE},
      transaction = #{transaction,jdbcType=DOUBLE},
      lock_balance = #{lockBalance,jdbcType=DOUBLE},
      total = #{total,jdbcType=DOUBLE},
      daily_release = #{dailyRelease,jdbcType=DOUBLE},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>