<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanjing.wallet.dao.VersionMapper">

    <sql id="Base_Column_List">
    id, name, remarks, url, versionname, versioncode
  </sql>

    <select id="findAll" resultType="com.lanjing.wallet.model.Version">
        select * from version
    </select>

    <select id="findByid" resultType="com.lanjing.wallet.model.Version" parameterType="java.lang.Integer">
        select * from version where id = #{id}
    </select>

</mapper>